/* -------------------- RESET & BODY -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(270deg, #1b1c2e, #262742, #1b1c2e, #2d2f47);
  background-size: 600% 600%;
  
  color: #fceff9;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

@keyframes fundoVivo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




